@using ColoradoBeetle.Application.GroupProducts.Commands.AddMultiGroupProduct;
@using ColoradoBeetle.Domain.Enums;

@model AddMultiGroupProductCommand

@{
    ViewData["Title"] = "Dodawanie wielu produktów";
}

<div class="card card-primary card-border-top groupUser-bg">

    @using (Html.BeginForm("AddMultiGroupProduct", "GroupProduct")) {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.GroupId)
        @Html.HiddenFor(x => x.GroupShopListId)
        @Html.HiddenFor(x => x.UserId)

        <div class="card-body">
            <div class="form-group mt-3">
                @Html.LabelFor(x => x.MultiGroupProductNames)
                @Html.TextAreaFor(x => x.MultiGroupProductNames, new {@class="form-control", placeholder="Po każdym produkcie naciśnij 'enter'."
            , @rows=10})
                @Html.ValidationMessageFor(x => x.MultiGroupProductNames)
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fas fa-solid fa-circle-check"></i>Zapisz
            </button>
        </div>
    }
</div>

@section Scripts{
    <partial name="Scripts/_ValidationScriptsPartial" />
}
