@using ColoradoBeetle.Application.GroupShopLists.Command.EditGroupShopList;
@model EditGroupShopListCommand

@{
    ViewData["Title"] = "Aktualizowanie listy";
}

<div class="card card-primary card-border-top">

    @using (Html.BeginForm("EditGroupShopList", "GroupShopList")) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.UserId)
        @Html.HiddenFor(x => x.GroupId)

        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new {@class="form-control",
            placeholder="Wprowadź nową nazwę"})
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fas fa-solid fa-circle-check"></i>Zapisz
            </button>
        </div>

    }

</div>
