@using System.Globalization;
@using ColoradoBeetle.Application.Groups.Queries.GetUsersInGroup;


@model UsersInGroupVm

@{
    TempData["Title"] = "Członkowie grupy";
    var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@section Styles{
    <partial name="Styles/_DataTablesStyles" />
}


<partial name="Modals/_ModalConfirm"
         model="@(new ModalParams
{
    Id = "modal-confirm-delete",
    Title = "Potwierdź proszę",
    Description = "Czy na pewno chcesz usunąć wybranego użytkownika?"
})" />

<h1>Grupa: "@Model.GroupDto.Name"</h1>

<div class="card card-primary card-border-top">

    <div class="card-body">

        <a href='/Group/GetUsersDtos?groupId=@Model.GroupDto.Id' class="btn btn-primary mb-3" role="button">
            <i class="fas fa-solid fa-circle-plus"></i>Dodaj użytkownika
        </a>

        <table id="groupUsers" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Nazwa użytkownika</th>
                    <th class="desktop"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var user in Model.UsersDtos) {
                    <tr>
                        <td>
                            @user.Id
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm"
                                    onclick="removeUser('@user.Id', this)">
                                <i class="fas fa-solid fa-trash-can"></i>Usuń użytkownika
                            </button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {

    <partial name="Scripts/_DataTablesScripts" />

    <script>

        var selectedRow;
        var selectedUserId;
        var groupUsers;

        $(document).ready(function () {

            groupUsers = $('#groupUsers').DataTable({
                paging: true,
                ordering: true,
                info: true,
                responsive: true,
                autoWidth: false,
                lengthChange: true,
                lengthMenu: [25, 50, 75, 100],
                language: {
                    url: `/lib/datatables/lang/${'@locale'}.json`
                },
                order: [[0, "desc"]],
                columnDefs: [
                    {
                        targets: [0],
                        visible: false,
                        searchable: false
                    }]
            });
        });

        function removeUser(id, btn) {
            selectedRow = btn.parentNode.parentNode;
            selectedUserId = id;
            $('#modal-confirm-delete').modal('show');
        }

        $('#modal-confirm-delete-btn').on('click', function (e) {
            $('#modal-confirm-delete').modal('hide');

            $.ajax({
                type: "POST",
                url: "/Group/RemoveUser",
                data: {
                    id: selectedUserId,
                    groupId: @Model.GroupDto.Id
                },
                success: function (data) {
                    if (data.success) {
                        groupUsers.rows(selectedRow).remove().draw();
                        toastr.success("Wybrany użytkownik został usunięty");
                    }
                    else {
                        toastr.error("Nie udało się usunąć wybranego użytkownika, skontaktuj się z administratorem.");
                    }
                },
                error: function (data) {
                    toastr.error("Nie udało się usunąć wybranego użytkownika, skontaktuj się z administratorem.");
                },
                dataType: "json"
            });
        });

    </script>
}